@model Product

<h2>Product Controller - Navigation</h2>

<ul>
    <li><a asp-action="Index">Show All</a></li>
    <li><a asp-action="Create" asp-route-id="1">add new Product</a></li>
    <li><a asp-action="Details">details</a></li>
    <li><a asp-action="Edit" asp-route-id="1">Edit</a></li>
    <li><a asp-action="Delete" asp-route-id="1">Delete</a></li>
</ul>